body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: white;
}

h1 {
  font-size: 3rem;
  margin: 1vh;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin: 1vh;
  text-align: center;
}

main {
  margin: auto;
}

nav {
  color: white;
  background-color: black;
  padding: 25px;
  height: 40px;
  width: calc(100% - 50px);
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearfix {
  height: 90px;
  background-color: red;
}

.controls *, .name{
  padding: 15px;
  color: white;
  text-decoration: none;
}

.controls *:hover{
  background-color: #555555;
}

.header {
  height: calc(93vh - 90px);
  margin: 0;
  background-image: url('/assets/photos/header_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.header_contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  background-image: url('/assets/stephen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
}

.arrow_down {
  height: calc(7vh - 90px);
}

#about, #skills, #projects {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  min-height: 60vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.section_title {
  margin: 50px;
}

#about {
  flex: 1;
}

#about .section_title {
  flex: 1;
}

#about .about_text {
  flex: 4;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#about .about_text p {
  padding: 20px;
}

.spacer_image {
  width: 100%;
  height: 50vh;
  background-image: url('/assets/mountains.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#skills .skill_list {
  display: flex;
  margin: 0 auto;
  max-width: 795px;
  justify-content: space-around;
  flex-wrap: wrap;
}

#skills .skill {
  display: block;
  width: 150px;
  height: 150px;
  margin: 10px 5px 10px 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project_list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.projects_header {
  padding-top: 5vh;
}

#projects {
  display: block;
}

#projects h1 {
  margin: 50px;
}

#projects .project_img {
  min-width: 400px;
  min-height: calc(400px * (2/3));
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#projects .project_list a {
  margin: 10px;
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

#projects .project_list a:hover {
  color: yellow;
}

@media only screen and (max-width: 1290px) {
  .project_list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .project_img .overlay {
    min-height: calc(400px * (2/3));
  }
}

.overlay {
  opacity: 0;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  justify-content:
  color: transparent;
  background-color: rgba(127, 174, 254, 0.8);
}

.overlay:hover {
  opacity: 100;
}

#footer {
  height: 30vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .links {
  display: flex;
  font-size: 3.5rem;
}

#footer .links * {
  text-decoration: none;
  transition: all 0.5s;
  padding: 0 10px;
  color: white;
}

#footer .links *:hover {
  color: #555555;
}
