body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  margin: 1vh;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin: 1vh;
  text-align: center;
}

main {
  margin: auto;
}

nav {
  color: white;
  background-color: black;
  padding: 25px;
  height: 40px;
  width: calc(100% - 50px);
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearfix {
  height: 90px;
  background-color: red;
}

.controls *{
  padding: 15px;
  color: white;
  text-decoration: none;
}

.controls *:hover{
  background-color: #555555;
}

.header {
  height: 84vh;
  margin: 0;
  background-image: url('/assets/header_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.header_contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  background-image: url('/assets/stephen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
}

#about, #skills, #projects {
  width: 80%;
  margin: 0 auto;
  display: flex;
  min-height: 60vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#about {
  flex: 1;
}

#about h1 {
  margin: 50px;
  flex: 1;
}

#about .about_text {
  flex: 4;
  display: flex;
}

#about .about_text p {
  padding: 20px;
}

#skills h1 {
  margin: 50px;
}

#skills .skill_list {
  display: flex;
  margin: 0 auto;
  max-width: 795px;
  justify-content: space-around;
  flex-wrap: wrap;
}

#skills .skill {
  display: block;
  width: 150px;
  height: 150px;
  margin: 10px 5px 10px 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
