@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.background-image {
  background: url('../assets/lake.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 1;

  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}

.background-image.visible {
  opacity: 1;
}

body {
  /* background-color: rgb(0, 0, 0); */
  /* background-image: url('../assets/lake.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  top: 30vh;
  position: absolute;
  left: 8vw;
  /* background-color: rgb(255, 255, 255, .3); */
  /* background-image: radial-gradient(rgb(255, 255, 255, .3), rgb(255, 255, 255, .0)); */
  transition: 2s;
  padding: 1em;
  opacity: 50%;
  border-radius: 25px;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  font-size: 9em;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

li {
  float: left;
  margin-right: 2em;
  transition: .5s;
}

li:hover {
  transform: scale(1.25, 1.25);
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 4px #222;
  padding: 0.5em 0.6em;
}

a {
  color: #222;
}